<?xml version="1.0"?>
<config>
    <modules>
        <Devopensource_ProductAddons>
            <version>0.0.1</version>
        </Devopensource_ProductAddons>
    </modules>
    <global>
        <models>
            <productaddons>
                <class>Devopensource_ProductAddons_Model</class>
                <resourceModel>productaddons_resource</resourceModel>
            </productaddons>
            <productaddons_resource>
                <class>Devopensource_ProductAddons_Model_Resource</class>
            </productaddons_resource>
        </models>
        <blocks>
            <devopensource_productaddons>
                <class>Devopensource_ProductAddons_Block</class>
            </devopensource_productaddons>
        </blocks>
        <helpers>
            <productaddons>
                <class>Devopensource_ProductAddons_Helper</class>
            </productaddons>
        </helpers>
        <events>
            <!-- Button in frontend -->
            <catalog_controller_product_init>
                <observers>
                    <devopensource_productaddons>
                        <type>singleton</type>
                        <class>Devopensource_ProductAddons_Model_Observer</class>
                        <method>addProductAddonsButtonFrontend</method>
                    </devopensource_productaddons>
                </observers>
            </catalog_controller_product_init>
        </events>
    </global>
    <adminhtml>
        <events>
            <!-- Button in backend -->
            <adminhtml_block_html_before>
                <observers>
                    <devopensource_productaddons>
                        <type>model</type>
                        <class>Devopensource_ProductAddons_Model_Observer</class>
                        <method>addProductAddonsButton</method>
                    </devopensource_productaddons>
                </observers>
            </adminhtml_block_html_before>
        </events>
    </adminhtml>
    <default>
        <productaddons>
            <general>
                <frontend_button>1</frontend_button>
                <backend_button>1</backend_button>
            </general>
        </productaddons>
    </default>
</config>